	*{
			margin: 0px;
			padding: 0px;
			border: 0px;
		}

		.scroll-container{
			position: relative;
			overflow: hidden;
			 width: 1000px;
			margin: 100px auto;
		}

		.scroll-outter{
			position: relative;
			 width: 1000px;
			height: 300px;
			margin: 0px auto;
			overflow: hidden;
		}

		.scroll-inner{
			 width: 6000px;
			height: 300px;
			overflow: hidden;
		}
		.scroll-inner li{
			float: left;
			list-style: none;
		}

		.scroll-inner img{
			float: left;
			width: 1000px;
			height: 300px;
		}

		.scroll-imgs-index{
			position: absolute;
			bottom: 20px;
			right: 20px;
		}

		.scroll-imgs-index li{
			float: left;
			list-style: none;
			width: 30px;
			height: 30px;
			margin-left: 10px;
			color: white;
			font-size: 20px;
			text-align: center;
			line-height: 30px;
			background-color: #c8c8c8;
			border-radius: 100%;
			cursor: pointer;
		}

		.scroll-imgs-index li:hover{
			background-color: orange;
		}

		.scroll-imgs-index .scroll-current{
			background-color: orange;
		}

		.scroll-left{
			position: absolute;
			left: 20px;
			top: 50%;
			width: 25px;
			height: 24px;
			margin-top: -12px;
			background: #ddd;
			cursor: pointer;
			z-index: 10;
		}

		.scroll-right{
			position: absolute;
			right: 20px;
			top: 50%;
			width: 25px;
			height: 24px;
			margin-top: -12px;
			background: #ddd;
			cursor: pointer;
			z-index: 10;
		}
