body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.ms-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.ms-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
  min-height: 100vh;
  transition: all ease .3s;
}
.ms-page.ms-hide {
  visibility: hidden;
  opacity: 0;
}